{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
<div class="panel panel-default">
    <div class="panel-heading" role="tab">
        <h2 class="sub-title panel-title">
            Platform Configuration - {{@unit.params.deviceType}}
        </h2>
    </div>
    <div id="{{@unit.params.deviceType}}-config-body" class="panel-collapse panel-body" role="tabpanel">
        <div id="{{@unit.params.deviceType}}-config-error-msg" class="alert alert-danger hidden" role="alert">
            <i class="icon fw fw-error"></i><span></span>
        </div>
        <div class="form-group" id="{{@unit.params.deviceType}}-config-field-wrapper">
        </div>
        <div class="wr-input-control wr-btn-grp">
            <button class="wr-btn" onclick="onDynamicConfigSubmit('{{@unit.params.deviceType}}')">Save</button>
        </div>
    </div>
</div>
